<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{!-- {{> base/analytics }} --}}

</head>

<body class='tk-atlas'>

	{{> base/header }}

	<main id='content'>
		<div class='graphic'>
			<div class='graphic__text'>
				{{> story/text}}
			</div>
			<div class='graphic__chart'>
				<svg class='chart__svg'></svg>
				<canvas class='chart__canvas'></canvas>
				<div class='chart__timeline'>
					{{> story/timeline}}
				</div>
			</div>
			<div class='graphic__ui'>
				{{> story/ui}}
			</div>
		</div>
	</main>

	<script src='{{basepath}}assets/scripts/d3.v4.12.0+jetpack.min.js'></script>
	<script src='bundle.js?version={{timestamp}}' async></script> {{!--
	<script src='https://pudding.cool/assets/scripts/pudding-footer.js' async></script> --}}
</body>

</html>