.conclusion
	position relative
	.btn, input.btn
		font-family $sans
		display inline-block
		padding 0.5rem 1rem
		font-weight 500
		border 1px solid rgba($off-black, 0.25)
		transition all 150ms ease-in-out
		cursor pointer
		background-color $gray-dark
		box-shadow 0 2px 4px rgba($off-black, 0.33)
		border-radius 2rem
		color #fff
		set-type-size(small)
		text-align center
	
	.support
		display flex
		flex-wrap wrap
		position absolute
		width 100%
		top 10rem
		left 0
		justify-content space-around
		text-align center
		.support__item
			margin-bottom 1rem
		p
			margin-bottom 1rem
			set-type-size(root)
	
	.newsletter__input
		font-family $sans
		set-type-size(small)
		line-height 1.5
		padding 0.25rem
		width 10rem