.conclusion
	position relative
	.btn, input.btn
		font-family $sans
		display inline-block
		font-weight 500
		border 1px solid rgba($off-black, 0.25)
		transition all 150ms ease-in-out
		cursor pointer
		background-color $gray-dark
		box-shadow 0 2px 4px rgba($off-black, 0.33)
		border-radius 2rem
		color #fff
		text-align center
		set-type-size(x-small, false)
		padding 0.35rem 0.7rem
		+mq('bp-desktop')
			set-type-size(small, false)
			padding 0.5rem 1rem
	
	.support
		display flex
		flex-wrap wrap
		width 100%
		justify-content space-around
		text-align center
		margin-top 1rem
		+mq('bp-600')
			position absolute
			top 10rem
			left 0
		.support__item
			margin-bottom 1rem
		p
			margin-bottom 0.5rem
			set-type-size(small)
			+mq('bp-desktop')
				margin-bottom 0.75rem
				set-type-size(root)
	
	.newsletter__input
		font-family $sans
		set-type-size(x-small)
		line-height 1.4
		padding 0.25rem
		width 10rem
		+mq('bp-desktop')
			set-type-size(small)
			line-height 1.5