.text__step.text__step--intro
	position fixed
	top 1rem
	+mq('bp-desktop')
		top 0
	// bottom 0
	transform translate(0, 0)
	margin-top 0
	&.is-visible
		transform translate(0, 0)
	&.is-exit
		transform translate(-100%, 0)
	p
		set-type-size('root', true)
		+mq('bp-desktop')
			set-type-size('medium', true)

	.intro
		&__hed
			font-weight 600
			text-align center
			color $primary
			text-transform uppercase
			max-width 40rem
			margin 0 auto
			transform translate(0, -100%)
			transition transform 750ms ease-in-out
			&.is-loaded
				transform translate(0, 0)
			
		&__byline
			max-width $column-width
			margin 0 auto
			padding-top 1.5rem
			text-align center
			set-type-size('small', true)
			
		&__dek
			max-width 42rem
			margin 0 auto
			padding 2rem 1rem 0 1rem
			text-align left
			set-type-size('small', true)
			+mq('bp-3')
				set-type-size('medium', true)