/* CUSTOM STORY STYLE */

.graphic
	width 100%
	height 100%
	display flex
	flex-direction column
	// background yellow //debug
	padding 1rem
	padding-top 64px
	&__text
		// background red //debug
		width 100%
		height 100%
		max-width 50rem
		margin 0 auto
	&__chart
		// background green //debug
		height 12rem
		max-width 70rem
		margin 0 auto
	&__ui
		// background blue //debug
		width 100%
		height 67%
		max-width 40rem
		margin 0 auto

	
.chart
	&__canvas
		display block
		width 100%
		height 4rem
		// background rgb(0,250,0) //debug
	&__svg
		display block
		width 100%
		height 6rem
		// background rgb(0,200,0) //debug
	&__timeline
		width 100%
		height 2rem
		// background rgb(0,150,0) //debug
	

.chart__svg
	.g-label
		// 
	.label
		opacity 0
		transition opacity 250ms ease-in-out
		&.is-visible
			opacity 1

		.id
			set-type-size(xx-small, false)
			text-transform uppercase
			letter-spacing 0.05em
			fill $gray

		.date
			set-type-size(xx-small, false)
			text-transform uppercase
			letter-spacing 0.05em
			fill $gray-dark
			font-weight 600

		line
			stroke $gray