/* CUSTOM STORY STYLE */
main
	overflow hidden
.graphic
	width 100%
	height 100%
	display flex
	flex-direction column
	// background yellow //debug
	padding 1rem
	padding-top 64px
	&__text
		// background red //debug
		width 100%
		height 100%
		max-width 50rem
		margin 0 auto
	&__chart
		// background green //debug
		pointer-events none
		position relative
		height 16rem
		max-width 70rem
		margin 0 auto
		.chart__timeline, .chart__canvas, .chart__svg
			transition opacity 500ms ease-in-out
			opacity 0
		&.is-visible
			.chart__timeline, .chart__canvas, .chart__svg
				opacity 1
			&:after
					position absolute
					bottom 1rem
					display block
					content ''
					width 100%
					height 100%
					z-index 100
					pointer-events none
					right -99%
					background linear-gradient(to right, rgba($bg,0) 0%,rgba($bg,1) 4%,rgba($bg,1) 100%)
					+mq('bp-desktop')
						right -98%
			&:before
					position absolute
					bottom 1rem
					display block
					content ''
					width 100%
					height 100%
					z-index 100
					pointer-events none
					left -99%
					background linear-gradient(to left, rgba($bg,0) 0%,rgba($bg,1) 4%,rgba($bg,1) 100%)
					+mq('bp-desktop')
						left -98%
			
	&__ui
		// background blue //debug
		width 100%
		height 80%
		max-width 40rem
		margin 0 auto
		transition height 500ms ease-in-out
		+mq('bp-desktop')
			height 80%
		&.is-short
			height 35%
			+mq('bp-desktop')
				height 30%
	
.chart
	&__canvas
		display block
		width 100%
		height 35px
		+mq('bp-600')
			height 70px
		// background rgb(0,250,0) //debug
	&__svg
		display block
		width 100%
		height 10rem
		position relative
		svg, .math__info, .svg__label
			position absolute
			top 0
			left 0
			width 100%
			height 100%
		// background rgb(0,200,0) //debug
	&__timeline
		width 100%
		height 2rem
		// background rgb(0,150,0) //debug
	&__balloon
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		transform translateY(-6rem)
		// background rgb(0,100, 0) // debug

	
.chart__svg .svg__label
	.label
		opacity 0
		transition opacity 250ms ease-in-out
		width auto
		position absolute
		bottom 1rem
		left 0
		top auto
		height auto
		line-height 1
		transform translate(-50%, 50%)
		background-color $bg
		box-shadow 8px 0 8px 0px $bg, -8px 0 8px 0px $bg
		p
			display block
			width auto
			text-align center
			margin 0
			padding 0
			white-space nowrap
		&.is-visible
			opacity 1

		.id
			set-type-size(xx-small, false)
			text-transform uppercase
			letter-spacing 0.05em
			color $gray-dark
			font-weight 400

		.date
			set-type-size(xx-small, false)
			text-transform uppercase
			letter-spacing 0.05em
			color $off-black
			font-weight 600
			opacity 0
			transition opacity 250ms ease-in-out
			&.is-visible
				opacity 1

		&:after
			content ''
			display block
			position absolute
			top 100%
			left 50%
			height 0.25rem
			width 1px
			transform translateX(-1px)
			background-color $gray-light
			+mq('bp-desktop')
				height 0.75rem
				width 2px
				transform translateX(-2px)
			

.chart__balloon
	p
		display block
		position absolute
		margin 0
		padding 0
		width 2rem
		font-size 2rem
		line-height 1
		text-align center
		top 14rem
		left 0
		transform translateX(-50%)
		opacity 0
		&.is-float
			animation float 1s ease-in forwards

@keyframes float
	0%
		opacity 0
		transform translate(-50%, 0)
	33%
		opacity 1
	67%
		opacity 1
	100%
		opacity 0
		transform translate(-50%, -12rem)

svg text
	font-family $sans

.desktop
	display none
	+mq('bp-desktop')
		display block

.emoji
	padding 0 0.25em 