.chart__svg .svg__tally
	visibility hidden
	position absolute
	top 0
	left 50%
	max-width 40rem
	transform translateX(-50%)
	set-index('top')
	&.is-visible
		visibility visible

	.label
		set-type-size(xx-small, false)
		fill $gray
		font-weight 600
		text-transform uppercase
		letter-spacing 0.05em
	
	.axis--x
		.tick 
			line
				display none
			text
				fill $gray
			// &:nth-child(3)
			// 	display none
		path
			display none
	.axis--y
		.tick 
			line
				stroke-dasharray 4px 4px
				stroke-width 0.5px
				stroke $gray-light
			text
				fill $gray
		path
			display none
	
	.g-line, .g-line2
		fill none
		stroke $gray-dark
		stroke-width 2px
		stroke-linecap round
	

	.g-dots circle
		stroke none
		fill $gray-dark
		opacity 0
		+mq('bp-desktop')
			opacity 1
	
	.success, .failure
		set-type-size(x-small, false)
		text-transform uppercase
		&.bg
			stroke $bg
			stroke-width 3px
		&.fg
			fill $gray
			font-weight 500
		.count
			font-weight 600
			fill $red
