.graphic__text
	position relative	
	// overflow-x hidden
.text__step
	position absolute
	width 100%
	top 50%
	left 0
	transform translate(100%, -50%)
	opacity 0
	margin 0
	margin-top 1rem
	transition opacity 250ms ease-in-out, transform 500ms ease-out
	font-weight 400
	pointer-events none
	&.center
		text-align center
	&.is-visible
		opacity 1
		pointer-events auto
		transform translate(0, -50%)
	&.is-exit
		transform translate(-100%, -50%)
	&.instant
		transition none
	
	p
		max-width 50rem
		margin 0 auto
		line-height 1.5
		+mq('bp-desktop')
			set-type-size(large, false)

	.spacer
		display block
		margin-top 1rem
	
	.note
		display none

	.hint
		display block
		margin-top 0.5rem
		color $gray-dark
		text-align center
		set-type-size(small, false)
		+mq('bp-desktop')
			set-type-size(medium, false)
	mark
		background transparent
		color $primary
		font-weight 600
		border-bottom 2px solid $yellow

	.guess--no, .guess--yes
		display none
		&.is-visible
			display inline
	.result--no, .result--yes
		display none
		&.is-visible
			display inline
	.speed--1, .speed--2, .speed--3
		opacity 0
		transition opacity 250ms ease-in-out
		&.is-visible
			opacity 1
