.graphic__text
	position relative	
	// overflow-x hidden
.text__step
	position absolute
	width 100%
	top 50%
	left 0
	transform translate(100%, -50%)
	opacity 0
	margin 0
	margin-top 1rem
	transition opacity 250ms ease-in-out, transform 500ms ease-out
	font-weight 400
	pointer-events none
	&.center
		text-align center
	&.is-visible
		opacity 1
		pointer-events auto
		transform translate(0, -50%)
		&.no-enter
			transition none
	&.is-exit
		transform translate(-100%, -50%)
		&.no-exit
			transition none
	
	
	p
		max-width 50rem
		margin 0 auto
		line-height 1.5
		+mq('bp-desktop')
			set-type-size(large, false)

	.spacer
		display block
		margin-top 1rem
	
	.note
		display none
		position absolute
		bottom 1rem
		left 0
		width 19rem
		background-color $gray-dark
		box-shadow 0 0 6px 0 rgba($primary, 0.5)
		border-radius 2px
		padding 0.5rem
		color $off-white
		text-align left
		set-type-size('small', true)
		font-weight 500
		z-index set-index('overlay')
		cursor pointer
		&.is-visible
			display block
	
	sup
		position relative
		display inline-block
		top 0
		left 0
		background-color $red
		color $bg
		border-radius 50%
		width 0.8rem
		height 0.8rem
		font-weight 600
		font-size 0.8rem
		line-height 1
		position relative
		vertical-align super
		text-align center
		cursor pointer

	.hint
		display block
		margin-top 0.5rem
		color $gray-dark
		text-align center
		set-type-size(small, false)
		+mq('bp-desktop')
			set-type-size(medium, false)
	mark
		background transparent
		color $red
		font-weight 600

	.guess--no, .guess--yes
		display none
		&.is-visible
			display inline
	.result--no, .result--yes
		display none
		&.is-visible
			display inline
	.speed--1, .speed--2, .speed--3
		opacity 0
		transition opacity 250ms ease-in-out
		&.is-visible
			opacity 1
