.chart__timeline
	.line
		height 0.5rem
		border-top 2px dashed $gray-light
	.labels
		display flex
		justify-content space-between
		p
			color $gray
			margin 0
			text-transform uppercase
			font-weight 600