.graphic__ui
	position relative

.ui__step
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	opacity 0
	transition opacity 250ms ease-in-out
	pointer-events none
	&.is-visible
		opacity 1
		pointer-events auto
	&.instant
		transition none

	button.next
		display block
		position absolute
		bottom 2rem
		left 50%
		width 17rem
		padding 0.5rem 0
		transform translateX(-50%)
		background-color white
		font-weight 600
		border 1px solid $gray-light
		transition all 150ms ease-in-out
		cursor pointer
		background-color rgba($yellow, 0.67)
		opacity 1
		box-shadow 0 2px 4px rgba($off-black, 0.33)
		&.is-jiggle
			animation jiggle 5s ease-in-out infinite
		&.is-hidden
			opacity 0
			pointer-events none
		&:disabled
			background-color transparent
			cursor not-allowed
			animation none
			&:hover
				background-color rgba($gray-light, 0.5)
		&:hover
			background-color rgba($yellow, 1)
			box-shadow 0 2px 4px rgba($off-black, 0.33), 0 4px 4px rgba($off-black, 0.33)
		&--double
			&:nth-child(2)
				bottom 5.25rem
			&.is-jiggle
				animation none
		
	button.prev
		display block
		position absolute
		bottom 0
		left 50%
		padding 0 0.5em
		color $gray-dark
		transform translateX(-50%)
		border none
		transition all 150ms ease-in-out
		cursor pointer
		background-color transparent
		opacity 1
		line-height 1
		svg
			width 1rem
			fill $gray-light
		&.is-hidden
			opacity 0
			pointer-events none
		&:disabled
			background-color transparent
			cursor not-allowed
		&:hover
			color $gray-dark

	.dropdown
		position relative
		top 12.5%
		margin 0 auto
		text-align center
		select
			background-color transparent
			border none
			border 1px solid $gray
			border-radius 0
			outline 0
			set-type-size(small, false)
			// text-align-last center

	.slider
		top 12.5%

@keyframes jiggle
	0%
		margin-left 0
	2%
		margin-left 0.3rem
	4%
		margin-left -0.3rem
	6%
		margin-left 0.3rem
	8%
		margin-left -0.3rem
	10%
		margin-left 0
	100%
		margin-left 0