<button class='btn about-btn'>?</button>
</section>
<section id='about'>
	<button class='btn about__close'>@@include('x.svg')</button>
	<div class='about__content'>
		<p class='small about__method'><strong>About:</strong> {{{copy.about}}}</p>
		<p class='small about__who'>
			<a href='https://pudding.cool' target=_blank>The Pudding</a> explains ideas debated in culture with visual essays.
		</p>
	</div>
</section>