<div class='appendix'>
	<div class='appendix__guess'>
		<div class='appendix__text'><h3 class='appendix__hed root'>Average Reader Guess</h3>
		<p class='appendix__dek small'>{{{@root.copy.appendixGuess}}}</p></div>		
		<div class='chart'></div>
	</div>
	<div class='appendix__distribution'>
		<div class='appendix__text'><h3 class='appendix__hed root'>Reader Birthday Distribution</h3>
		<p class='appendix__dek small'>{{{@root.copy.appendixDistribution}}}</p></div>
		<div class='chart'></div>
	</div>
	<div class='appendix__probability'>
		<div class='appendix__text'>
			<h3 class='appendix__hed root'>Probability of a Shared Birthday</h3>
			<p class='appendix__dek small'>{{{@root.copy.appendixProbability}}}</p>
		</div>
		<div class='chart'></div>
	</div>
</div>