<div class='appendix'>
	<div class='appendix__guess'>
		<div class='appendix__text'><h3 class='appendix__hed root'>Average Reader Guess</h3>
		<p class='appendix__dek small'>Results of all reader guesses for how many people are required to have a 50/50 chance of a shared birthday.</p></div>		
		<div class='chart'></div>
	</div>
	<div class='appendix__distribution'>
		<div class='appendix__text'><h3 class='appendix__hed root'>Reader Birthday Distribution</h3>
		<p class='appendix__dek small'>The distribution of the number of real birthdays on each day collected from
		<span class='count'></span> readers.</p></div>
		<div class='chart'></div>
	</div>
	<div class='appendix__probability'>
		<div class='appendix__text'>
			<h3 class='appendix__hed root'>Probability of a Shared Birthday</h3>
			<p class='appendix__dek small'>The hypothetical probability (assuming evenly distributed birthdays) of a shared birthday based on number of people in a
				room.</p>
		</div>
		<div class='chart'></div>
	</div>
</div>