<div class='conclusion'>
	<p>{{{text}}}</p>
	<div class='support'>
		<div class='support__patreon support__item'>
			<p>{{{@root.copy.patreon}}}</p>
			<a onclick="trackOutboundLink('https://www.patreon.com/thepudding'); return false;" target="_blank" href="https://www.patreon.com/thepudding"
			 class="btn small">Donate on Patreon</a>
		</div>
		<div class="support__subscribe support__item">
			<p class="subscribe__overline tk-atlas">{{{@root.copy.email}}}</p>
			<div class="subscribe__newsletter">
				<form action="https://poly-graph.us11.list-manage.com/subscribe/post" method="POST">
					<input type="hidden" name="u" value="c70d3c0e372cde433143ffeab">
					<input type="hidden" name="id" value="9af100ac0f">
					<input class="newsletter__input" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25"
					 value="" placeholder="email@address">
					<div class="hidden-from-view" style="left: -10000px; position: absolute;">
						<input type="text" name="b_c70d3c0e372cde433143ffeab_9af100ac0f" tabindex="-1" value="">
					</div>
					<input class="btn btn--primary newsletter__button tk-atlas" style="" type="submit" name="submit" value="Join">
				</form>
			</div>
		</div>
	</div>
	
</div>