<div class='graphic'>
	<div class='graphic__text'>
		{{> story/text}}
	</div>
	<div class='graphic__chart'>
		<svg class='chart__svg'>
			<g class='g-label'>

			</g>
			<g class='g-arc'>

			</g>
		</svg>
		<canvas class='chart__canvas'></canvas>
		<div class='chart__timeline'>
			{{> story/timeline}}
		</div>
	</div>
	<div class='graphic__ui'>
		{{> story/ui}}
	</div>
</div>