<div class='graphic'>
	<div class='graphic__text'>
		{{> story/text}}
	</div>
	<div class='graphic__chart'>
		<div class='chart__svg'>
			<svg class='svg__label'>
				<g class='g-label'></g>
			</svg>
			<svg class='svg__tally'>
				<g class='g-axis'></g>
				<g class='g-tally'></g>
			</svg>
		</div>
		<canvas class='chart__canvas'></canvas>
		<div class='chart__timeline'>
			{{> story/timeline}}
		</div>
		<div class='chart__balloon'></div>
	</div>
	<div class='graphic__ui'>
		{{> story/ui}}
	</div>
</div>