<div class='intro__hed'>
	<img src='assets/img/birthday-intro.png' alt='The Birthday Paradox Experiment'>
</div>
<p class='intro__dek'>{{dek}}</p>
<p class='intro__byline'>By
	<a href='{{@root.meta.author.url}}' target='_blank'>
		<strong>{{@root.meta.author.name}}</strong>
	</a>
</p>