{{#each copy.steps}}
<div class='step ui__step ui__step--{{id}}' data-id={{id}}>
	{{#if dropdown}}
	<div class='dropdown'>
		<select class='month'></select>
		<select class='day' disabled></select>
		{{!--
		<p class='desktop'>Or walk it out with arrow keys
			<span>◀</span>
			<span>▶</span>
		</p> --}}
	</div>
	{{/if}} {{#if slider}}
	<div class='slider'>
	</div>
	{{/if}}
	<button class='small' disabled>{{{button}}}</button>
</div>
{{/each}}